<!DOCTYPE html>
<html>
<head>
    <title>BS CINEMA</title>
</head>
<body>
    <!--비로그인 시 메인 페이지-->
    <h1>메인 페이지입니다.</h1>

    <!--로그인 버튼-->
    <button onclick="location.href='/memLogin'">로그인</button>

    <!--아아디 / 비밀번호 찾기 버튼-->
    <button onclick="location.href='/memFind'">ID/PW 찾기</button>

    <!--회원가입 버튼-->
    <button onclick="location.href='/memJoin'">회원가입</button>
</body>
</html>