<!DOCTYPE html>
<html>
<head>
    <title>BS CINEMA</title>
</head>
<body>
    <script>
        console.log(session.getAttribute('mem_id'))
    </script>
    <h1>환영합니다</h1>

    <!--로그아웃 버튼-->
    <button onclick="location.href='/memLogin/out';logout()"> 로그아웃 </button>
    <script>function logout(){alert('로그아웃되었습니다.');}</script>

</body>
</html>