<!DOCTYPE html>
<html>
    <head>
        <meta charset= "UTF-8">
        <title>email form</title>
   
     </head>
     <body>
         <h1>포인트 조회</h1>
         <form action = "/result/point" method = "post">
             ID : <input type = "text" name = "id">
             <input type = "submit" value = "조회">

             <script>
                 function getURL(){
                     alert("THE URL of this page is " + window.location.href);
                 }
             </script>

             <button type = "button" onclick="getURL()">get page</button>
     </body>
</html>